#side-bar {
  background-color: lightgreen;
  width: 30vw;
  height: 96vh;
  margin: 1vw;
  z-index: 20000;
  position: absolute;
  box-shadow: 2px 2px 8px grey;
  border-radius: 8px;
}

#header {
  height: 10vh;
  background-color: green;
  border-radius: 8px 8px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

#sidebar-nav {
  justify-content: space-between;
  display: flex;
}

.sidebar-component {
  height: 78vh;
  padding-top: 1vh;
  border-radius: 0px 0px 8px 8px
}

.sidebar-table {
  font-size: 0.8rem;
  width: 28vw;
  margin: 1vw 1vw 0vw 1vw;
  background-color: white;
}

.sidebar-table table {
  border-radius: 8px;
}

.sidebar-table table, th, td {
  /* border: 1px solid black; */
  text-align: center;
}

.sidebar-table th {
  font-size: 1rem;
  padding: 1vh;
  background-color: limegreen;
  color: white;
}

.sidebar-table button {
  background-color: #ff0000;
  border: none;
  border-radius: 4px;
  color: white;
}

.sidebar-table button:hover {
  background-color: #ff8000;
}

#side-bar h1 {
  margin-bottom: -1vw;
  font-size: 5rem;
  color: white;
  z-index: 5;
  font-family: 'oswald';
  src: url('/font/Beauty.ttf');
  text-shadow: 2px 2px black;
}
